<title>Connor McCutcheon's Page</title>

<!-- Imported Styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="/static/styles/main.css">


<!-- Scripts Dependencies -->
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@2.2.0/anime.min.js"></script>
<!-- Content -->
{% block content %}{% endblock %}

<!-- Scripts for after page loading -->
{% block page_scripts %}{% endblock %}